<Dialog 
	title="Add Collection"
	ref:dialog
	on:close="onClose(event)">
	<label>
		<span>Title</span>
		<input ref:title />
	</label>
</Dialog>

<script>
	import store from '../store';
	import Dialog from './Dialog.html';

	export default {
		store: () => store,
		components: {
			Dialog,
		},
		methods: {
			show() {
				this.refs.dialog.show();
			},
			add() {
				const title = this.refs.title.value;
				this.store.addCollection(title);
				this.refs.dialog.close();
			},
			onClose(action) {
				if (action === 'confirm') {
					this.add();
				}
			}
		}
	}

</script>
