<Dialog 
	title="Add Collection"
	ref:dialog
	on:close="onClose(event)">
	<label>
		<span>Group</span>		
		<select ref:group>
			{{#each $groupsMetaData as group}}
				<option value="{{ group.id }}">{{ group.title }}</option>
			{{/each}}
		</select>
	</label>
	<label>
		<span>Title</span>
		<input ref:title bind:value="title"/>
	</label>
</Dialog>

<script>
	import store from '../store';
	import Dialog from './Dialog.html';

	const initialData = {
		title: '',
	}

	export default {
		store: () => store,
		data() {
			return initialData
		},
		components: {
			Dialog,
		},
		methods: {
			show() {
				this.refs.dialog.show();
			},
			add() {
				const groupId = this.refs.group.value;
				const title = this.refs.title.value;
				const titleExists = this.store.get('collections').find(collection => collection.title.toLowerCase() === title.toLowerCase());

				let addCollection = title !== '';
				if (titleExists) {
					if (!window.confirm(`Collection ${title} already exists, still add?`)) {
						addCollection = false;
					}
				}
				
				addCollection && this.store.addCollection(groupId, title);
				
			},
			onClose(action) {
				if (action === 'confirm') {
					this.add();
				}

				this.set(initialData);
			}
		}
	}

</script>
