<Dialog 
	title="Add Group"
	ref:dialog
	on:close="onClose(event)">
	<label>
		<span>Title</span>
		<input ref:title bind:value="inputValue"/>
	</label>
</Dialog>

<script>
	import store from '../store';
	import Dialog from './Dialog.html';

	const initialData = {
		inputValue: ''
	}

	export default {
		store: () => store,
		data() {
			return initialData
		},
		components: {
			Dialog,
		},
		methods: {
			show() {
				this.refs.dialog.show();
			},
			add() {
				const title = this.refs.title.value;
				const titleExists = this.store.get('groups').find(group => group.title.toLowerCase() === title.toLowerCase());

				let addGroup = title !== '';
				if (titleExists) {
					if (!window.confirm(`Group ${title} already exists, still add?`)) {
						addGroup = false;
					}
				}
				
				addGroup && this.store.addGroup(title);
			},
			onClose(action) {
				if (action === 'confirm') {
					this.add();
				}
				this.set(initialData);
			}
		}
	}

</script>
