<Dialog 
	title="Add Link"
	ref:dialog
	on:close="onClose(event)">
	<label>
		<span>Collection</span>		
		<select ref:collection>
			{{#each $collections as collection}}
				<option value="{{ collection.id }}">{{ collection.title }} ({{ collection.group.title }})</option>
			{{/each}}
		</select>
	</label>
	<label>
		<span>Label</span>
		<input ref:label />
	</label>
	<label>
		<span>Url</span>
		<input ref:url />
	</label>
</Dialog>

<script>
	import Dialog from './Dialog.html';
	import store from '../store';

	const initialData = {
		collectionId: null
	}

	export default {
		store: () => store,
		data() {
			return initialData
		},
		components: {
			Dialog,
		},
		methods: {
			show(collectionId) {
				this.set({ collectionId });
				this.refs.dialog.show();
			},
			add() {
				const collectionId = this.refs.collection.value;
				const label = this.refs.label.value;
				const url = this.refs.url.value;
				this.store.addLink(collectionId, label, url);
			},
			onClose(action) {
				if (action === 'confirm') {
					this.add();
				}
				this.set(initialData);
			}
		}
	}

</script>
