<PageHeader />
<Search ref:search />
<main>
	<GroupCollection :editing />
	<aside class="actions">
		{{#if editing}}
		<button on:click="showAddLinkModal()">Add link</button>
		<button on:click="showAddCollectionModal()">Add collection</button>
		{{/if}}
		<button on:click="set({ editing: !editing })">Edit</button>
	</aside>
</main>
<PageFooter />
<AddCollection ref:addCollection/>
<AddLink ref:addLink/>

<style>
	@import 'reset.css';
	@import 'global-styles.css';
	@import 'body-layout.css';

	.actions > :last-child {
		float: right;
	}
</style>

<script>
	import AddCollection from './AddCollection.html';
	import AddLink from './AddLink.html';
	import GroupCollection from './GroupCollection.html';
	import PageFooter from './PageFooter.html';
	import PageHeader from './PageHeader.html';
	import Search from './Search.html';
	import store from '../store';

	export default {
		store: () => store,
		oncreate() {
			window.addEventListener('keydown', event => {
				const allModifiers = event.ctrlKey && event.altKey && event.metaKey;

				// keyCode = b
				if(event.keyCode === 66 && allModifiers) {
					this.refs.addLink.show();
					return;
				}

				// keyCode = n
				if(event.keyCode === 78 && allModifiers) {
					this.refs.addCollection.show()
					return;
				}

				// keyCode = m (keycode === 77)

				// keycode = e
				if(event.keyCode === 69 && event.metaKey) {
					this.set({ editing: !this.get('editing') });
					return;
				}

				// keycode = f
				if(event.keyCode === 70 && event.metaKey && event.shiftKey) {
					this.refs.search.refs.inputSearch.focus();
					return;
				}

				// keyCode = esc (in search field)
				if(
					event.keyCode === 27 && 
					(event.target.type === 'search' || event.target.classList.contains('search-list-link')) &&
					this.store.get('searchValue') !== '' ) {

					this.refs.search.refs.inputSearch.select();
					return;
				}

				// keyCode = esc
				if(event.keyCode === 27 && this.get('editing')) {
					this.set({editing: false})
					return;
				}
			});
		},
		data() {
			return {
				editing: false
			}
		},
		components: {
			AddCollection,
			AddLink,
			GroupCollection,
			PageFooter,
			PageHeader,
			Search,
		},
		methods: {
			showAddLinkModal() {
				this.refs.addLink.show();
			},
			showAddCollectionModal() {
				this.refs.addCollection.show();
			},
		}
	}
</script>
