<PageHeader />
<Search />
<main>
	<GroupCollection />
</main>
<PageFooter />
<AddLink ref:addLink/>

<style>
	@import 'reset.css';
	@import 'global-styles.css';
	@import 'body-layout.css';
</style>

<script>
	import AddLink from './AddLink.html';
	import GroupCollection from './GroupCollection.html';
	import PageFooter from './PageFooter.html';
	import PageHeader from './PageHeader.html';
	import Search from './Search.html';
	import store from '../store';

	export default {
		store: () => store,
		oncreate() {
			window.addEventListener('keydown', event => {
				// keyCode = a
				if(event.keyCode === 65 && event.metaKey) {
					this.refs.addLink.show()
				}

				// keyCode = esc
				if(event.keyCode === 27 && (event.target.type === 'search' || event.target.classList.contains('search-list-link'))) {
					this.store.set({searchValue: ''});
				}

			});
		},
		components: {
			AddLink,
			GroupCollection,
			PageFooter,
			PageHeader,
			Search,
		},
		methods: {
			showAddLinkModal(collectionId) {
				this.refs.addLink.show(collectionId);
			}
		}
	}
</script>
