<ul ref:list>
	{{#each $collections as collection}}
		<li 
			class="
				group-container 
				{{dragging ? 'dragging' : ''}}
				{{draggingOrigin === collection.id ? 'dragging-origin' : ''}}
				{{draggingOver === collection.id ? 'dragging-over' : ''}}" 
			data-collection-id="{{ collection.id }}">
			<LinkGroup 
				links="{{ collection.links }}" 
				title="{{ collection.title }}" 
				id="{{ collection.id }}"
				expanded="{{ collection.expanded }}"
				:editing
				on:link="store.updateLink(collection.id, event)"
				on:title="store.updateTitle(collection.id, event)"
				on:deletelink="store.deleteLink(collection.id, event)"
				on:deletegroup="store.deleteCollection(collection.id)"
				on:expandGroup="store.expandCollection(collection.id, event)" />
		</li>
	{{/each}}
</ul>

<style>
	ul {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-gap: var(--grid-gap);
		margin-bottom: var(--grid-gap);
	}

	li {
		border: 5px dashed transparent;
	}

	.dragging-origin {
		border-color: var(--code-value);
	}

	.dragging:not(.dragging-origin) > * {
		pointer-events: none;
	}

	.dragging-over:not(.dragging-origin) {
		border-color: var(--code-keyword);
	}
</style>

<script>
	import LinkGroup from './LinkGroup.html';
	import store from '../store';

	export default {
		store: () => store,
		data() {
			return {
				editing: false,
				dragging: false,
				draggingOrigin: null,
				draggingOver: null,
			}
		},
		oncreate() {
			this.refs.list.addEventListener('dragstart', event => {
				const targetGroup = event.path.find(element => element.classList.contains('group-container'));
				const targetLink = event.path.find(element => element.dataset.linkId);
				const draggingOrigin = targetGroup.dataset.collectionId;
				this.set({ dragging: targetLink, draggingOrigin })
			});
			this.refs.list.addEventListener("dragover", event => event.preventDefault(), false);
			this.refs.list.addEventListener('dragenter', event => {
				const targetGroup = event.path.find(
					element => element.classList && element.classList.contains('group-container')
				);
				if (targetGroup) {
					this.set({ draggingOver: targetGroup.dataset.collectionId });
				}
			})
			this.refs.list.addEventListener("drop", event => {
				event.preventDefault();
				const targetGroup = event.path.find(element => element.classList.contains('group-container'));
				const targetCollectionId = targetGroup.dataset.collectionId;
				const sourceLink = this.get('dragging');
				const originCollectionId = this.get('draggingOrigin');
				const linkId = sourceLink.dataset.linkId;
				this.store.moveLink(linkId, originCollectionId, targetCollectionId);
				this.set({dragging: null, draggingOrigin: null, draggingOver: null})
			})
		},
		components: {
			LinkGroup,
		},
		methods: {
			addCollection() {
				this.store.addCollection();
				this.set({editing:true});
			}
		}
	}
</script>
