<details ref:details open="{{ expanded }}" class="{{ dragover ? 'dragover' : '' }}">
	<summary tabindex="{{ $searchValue === '' ? 0 : -1 }}">
		<h2 class="title" title="Recent clicks: {{ recentClicks }} - Total clicks: {{ totalClicks }}">{{ title }}</h2>
		{{#if editing}}
			<button class="edit-button" on:click="editTitle()">Edit</button>
		{{/if}}
	</summary>
	<ul data-link-list>
		{{#each links as link @id}}
			<li>
				<Link 
					:link
					:editing
					on:update="dispatchLink(event)"
					on:delete="deleteLink(event)" />
			</li>
		{{/each}}
	</ul>
</details>
<Dialog 
	title="Edit collection"
	ref:dialog
	actionButtons="{{ [
		{label: 'Ok', value: 'confirm'},
		{label: 'Delete', value: 'delete'}
	] }}"
	on:close="closeDialog(event)">
	<label>
		<span>Title</span>
		<input ref:title value="{{ title }}"/>
	</label>
</Dialog>

<style>
	details {
		display: grid;
		grid-template-rows: min-content 1fr min-content;
		height: 100%;
	}
	details summary:before {
		content: "+";
		padding-right: 0.5rem;
	}
	details[open] summary:before {
		content: "-";
	}
	summary::-webkit-details-marker {
		display: none;
	}
	summary:hover,
	summary:active,
	summary:focus {
		outline-color: var(--code-keyword);
		outline-width: 1px;
		outline-style: solid;
		outline-offset: 1px;
	}

	li {
		z-index: 0;  /*set a base z-index for the contents of <Link> */
		display: flex;
		justify-content: space-between;
	}

	h2,
	summary {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	summary {
		margin-bottom: 0.5rem;
	}

	.title {
		font-weight: 700;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: inline-block;
	}

	.edit-button {
		margin-left: var(--grid-gap);
	}

	.dragover {
		background-color: red;
	}

	.dragover > * {
		pointer-events: none;
	}
</style>

<script>
	import Dialog from './Dialog.html';
	import Link from './Link.html';
	import store from '../store';

	export default {
		store: () => store,
		oncreate() {
			this.refs.details.addEventListener("toggle", () => {
				this.fire('expandGroup', this.refs.details.open)
			}, false);
		},

		data() {
			return {
				titleEditing: false,
				dragover: false,
			}
		},
		components: {
			Dialog,
			Link,
		},
		methods: {
			callAddLinkModal() { this.root.showAddLinkModal(this.options.data.id) },
			dispatchLink(data) { this.fire('link', data); },
			deleteLink(data) { 
				if (window.confirm(`Do you want to delete this link?`)) { 
					this.fire('deletelink', data)
				}
			},
			editTitle() { 
				this.set({titleEditing: true}); 
				this.refs.dialog.show();
				this.refs.title.focus();
			},
			finishEdit() {
				this.fire('title', this.refs.title.value);
				this.set({ titleEditing: false });
			},
			deleteGroup() {
				if (window.confirm(`Do you want to delete ${this.refs.title.value}?`)) {
					this.fire('deletegroup');
					this.set({ titleEditing: false });
				}
			},
			closeDialog(action) {
				switch(action) {
					case 'confirm': 
						this.finishEdit();
						return;
					case 'delete':
						this.deleteGroup();
						return;
					default:
						return;
				}
			}
		}
	}
</script>
