<a href="{{ link.url }}" target="_self" on:click="handleClick(event)">{{ link.label }}<small>{{ link.url }}</small></a> 
<button 
	class="edit-button {{editing ? 'edit-button--show' : ''}}" 
	on:click="goEdit()">
	Edit
</button>

<dialog ref:dialog>
	<h2>Edit link</h2>
	<div class="dialog-content">
		<label>
			<div>Label</div>
			<input ref:label value="{{ link.label }}" />
		</label>
		<label>
			<div>Url</div>
			<input ref:url value="{{ link.url }}" />
		</label>
		<div class="dialog-buttons">
			<button on:click="finishEdit()">Done</button>
			<button on:click="deleteLink()">Delete</button>
		</div>
	</div>
</dialog>
	

<style>
	a {
		position: relative;
		margin-right: var(--grid-gap);
	}

	a:hover,
	a:focus {
		border-bottom: 1px solid var(--code-background);
	}

	a small {
		display: none;
		position: absolute;
		left: 0;
		top: calc(1.25rem + 10px);
		background-color: white;
		word-break: keep-all;
		z-index: 1;
		background-color: var(--code-background);
		color: var(--code-text);
		padding: 0.5em 1em;
	}

	a small::before {
		content: '';
		width: 1px;
		height: 1px;
		border: 10px solid transparent;
		border-bottom-color: var(--code-background);
		top: 0;
		left: 0%;
		position: absolute;
		transform: translate(50%, -100%);
		pointer-events: none;
	}

	a:hover small,
	a:focus small {
		display: block;
	}

	.edit-button {
		visibility: hidden;
	}

	.edit-button--show {
		visibility: initial;
	}

	dialog {
		background-color: var(--code-background);
		z-index: 1;
		color: var(--code-text);
		min-width: 50vw;
		border: none;
	}

	.dialog-content {
		display: flex;
		flex-direction: column;
	}

	.dialog-content > * {
		margin: 1rem 0;
	}

	dialog input {
		background-color: var(--code-text);
		color: var(--code-background);
		width: calc(100% - 0.3rem - 2px);
		margin-top: 0.25rem;
		border: none;
	}

	dialog input:focus {
		outline-color: var(--code-keyword);
		outline-width: 1px;
		outline-style: solid;
		outline-offset: 1px;
	}

	dialog button {
		background-color: var(--code-background);
		border-color: var(--code-text);
		color: var(--code-text);
	}

	dialog button:hover,
	dialog button:focus,
	dialog button:active {
		border-color: var(--code-keyword);
		color: var(--code-keyword);
	}

	.dialog-buttons {
		display: flex;
		justify-content: flex-end;
	}

	.dialog-buttons > * {
		margin-left: 1rem;
	}
</style>

<script>
	export default {
		methods: {
			goEdit() { this.refs.label.focus(); this.refs.dialog.showModal(); },
			finishEdit() {
				const label = this.refs.label.value;
				const url = this.refs.url.value;
				const newState = Object.assign({}, this.options.data.link, {label, url});
				this.refs.dialog.close();
				this.fire('update', newState);
			},
			deleteLink() { this.fire('delete', this.options.data.link.id); },
			handleClick(event) {
				event.preventDefault();
				const { clicks, url } = this.options.data.link;
				const newState = Object.assign({}, this.options.data.link, { clicks: clicks.concat(Date.now()) });
				this.fire('update', newState);
				setTimeout(() => { window.location = url }, 10);
			},
		}
	}
</script>
