<a href="{{ link.url }}" target="_self" on:click="handleClick(event)">{{ link.label }}<small>{{ link.url }}</small></a> 
{{#if editing}}<button class="edit-button" on:click="goEdit()">Edit</button>{{/if}}
<Dialog 
	title="Edit link"
	ref:dialog
	actionButtons="{{ [
		{label: 'Ok', value: 'confirm'},
		{label: 'Delete', value: 'delete'}
	] }}"
	on:close="closeDialog(event)">
	<label>
		<div>Label</div>
		<input ref:label value="{{ link.label }}" />
	</label>
	<label>
		<div>Url</div>
		<input ref:url value="{{ link.url }}" />
	</label>
</Dialog>

<style>
	a {
		position: relative;
		margin-right: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	a:hover,
	a:focus {
		border-bottom: 1px solid var(--code-background);
	}

	a small {
		display: none;
		position: absolute;
		left: 0;
		top: calc(1.25rem + 10px);
		background-color: white;
		word-break: keep-all;
		z-index: 1;
		background-color: var(--code-background);
		color: var(--code-text);
		padding: 0.5em 1em;
	}

	a small::before {
		content: '';
		width: 1px;
		height: 1px;
		border: 10px solid transparent;
		border-bottom-color: var(--code-background);
		top: 0;
		left: 0%;
		position: absolute;
		transform: translate(50%, -100%);
		pointer-events: none;
	}

	a:hover small,
	a:focus small {
		display: block;
	}

	.edit-button {
		margin-left: var(--grid-gap);
	}
</style>

<script>
	import Dialog from './Dialog.html';

	export default {
		components: {
			Dialog,
		},
		methods: {
			goEdit() { this.refs.label.focus(); this.refs.dialog.show(); },
			finishEdit() {
				const label = this.refs.label.value;
				const url = this.refs.url.value;
				const newState = Object.assign({}, this.options.data.link, {label, url});
				this.fire('update', newState);
			},
			deleteLink() { this.fire('delete', this.options.data.link.id); },
			handleClick(event) {
				event.preventDefault();
				const { clicks, url } = this.options.data.link;
				const newState = Object.assign({}, this.options.data.link, { clicks: clicks.concat(Date.now()) });
				this.fire('update', newState);
				setTimeout(() => { window.location = url }, 10);
			},
			closeDialog(action) {
				switch(action) {
					case 'confirm': 
						this.finishEdit();
						return;
					case 'delete':
						this.deleteLink();
						return;
					default:
						return;
				}
			}
		}
	}
</script>
