<section>
	{{#if $searchValue }}
	<ul ref:list data-search-list-links>
		{{#each $searchedlinks as link, i}}
			<li>
				<a 
					href="{{ link.url }}" 
					target="_self" 
					class="search-list-link" 
					tabindex="{{i === 0 ? -1 : 0}}"
					on:keydown="onkeydown(event)">
					<strong>{{ link.label }}</strong> - 
					{{#if link.collection}}
						<span>{{ link.collection.title }} ({{ link.collection.group.title }})</span>
					{{/if}}
				</a>
			</li>
		{{/each}}
	</ul>
	{{/if}}
</section>

<style>
	section {
		position: relative;
		z-index: 1;
	}
	ul {
		position: absolute;
		width: 100%;
		background-color: var(--background-color);
		border: 1px solid var(--code-background);
		padding: 1rem;
	}

	ul:not(:focus-within) li:first-child a {
		background-color: var(--code-background);
		color: var(--code-text);
	}

	li {
		display: flex;
	}

	li > * {
		flex: 1;
	}

	a {
		padding: 0.25rem;
	}

	a:hover,
	a:focus,
	a:active {
		background-color: var(--code-background);
		color: var(--code-text);
	}
</style>

<script>
	export default {
		methods: {
			onkeydown(event) {
				const nextItem = event.target.parentNode.nextSibling;
				const prevItem = event.target.parentNode.previousSibling;

				// keycode = arrow up
				if (event.keyCode === 38 && prevItem) {
					event.preventDefault();
					prevItem.children[0].focus();
				}

				// keycode = arrow down
				if (event.keyCode === 40 && nextItem) {
					event.preventDefault();
					nextItem.children[0].focus();
				}
			},
			focusSecondItem() {
				const items = this.refs.list ? this.refs.list.childNodes : [];
				if (items.length >= 2) {
					items[1].children[0].focus();
				}
			}
		}
	}
</script>
