<section>
	<input ref:inputSearch type="search" bind:value="$searchValue" placeholder="Search links" />
	<div class="search-list-container">
		<SearchList />
	</div>
</section>

<style>
	section {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	section > * {
		width: 75%;
	}

	section > .search-list-container {
		display: none;
	}

	section:focus-within > .search-list-container {
		display: block;
	}
	
	.form-wrapper {
		display: flex;
		justify-content: space-between;
	}
	.form-wrapper > * {
		flex: 1;
	}

	.form-wrapper > *:first-child {
		margin-right: 0.5rem;
	}
	.form-wrapper > *:last-child {
		margin-left: 0.5rem;
	}

	form > input {
		width: 100%;
	}

	input:focus {
		outline-color: var(--code-keyword);
		outline-width: 1px;
		outline-style: solid;
		outline-offset: 1px;
	}
</style>

<script>
	import store from '../store';
	import SearchList from './SearchList.html';

	export default {
		store: () => store,
		oncreate() {
			this.refs.inputSearch.focus();
		},
		components: {
			SearchList,
		},
		methods: {
			navigateTo(event) {
				event.preventDefault();
				const input = this.refs.inputNavigateTo.value;
				const absUrl = /^http(s?)/.test(input)
				window.location.replace(absUrl ? input : `http://${input}`);
			}
		}
	};
</script>
