<section>
	<input ref:inputSearch type="search" bind:value="$searchValue" placeholder="Search links" />
	<div class="search-list-container">
		<SearchList />
	</div>
</section>

<style>
	section {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	section > * {
		width: 75%;
	}

	section > .search-list-container {
		display: none;
	}

	section:focus-within > .search-list-container {
		display: block;
	}

	input:focus {
		outline-color: var(--code-keyword);
		outline-width: 1px;
		outline-style: solid;
		outline-offset: 1px;
	}
</style>

<script>
	import store from '../store';
	import SearchList from './SearchList.html';

	export default {
		store: () => store,
		oncreate() {
			this.refs.inputSearch.focus();
			this.refs.inputSearch.addEventListener('keydown', event => {
				const links = this.store.get('searchedlinks');
				//keycode enter
				if(event.keyCode === 13 && links.length) {
					window.location.replace(links[0].url);
				}
			})
		},
		components: {
			SearchList,
		},
	};
</script>
