<section>
	<input ref:inputSearch type="search" bind:value="$searchValue" placeholder="Search links" />
	{{#if $searchValue === ''}}
		<div class="form-wrapper">
			<form action="https://duckduckgo.com/">
				<input ref:inputWeb type="search" name="q" placeholder="Search DuckDuckGo" />
			</form>
			<form on:submit="navigateTo(event)">
				<input ref:inputNavigateTo type="url" placeholder="Navigate to" />
			</form>
		</div>
	{{/if}}
</section>

<style>
	section {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	section > * {
		width: 75%;
	}
	
	.form-wrapper {
		display: flex;
		justify-content: space-between;
	}
	.form-wrapper > * {
		flex: 1;
	}

	.form-wrapper > *:first-child {
		margin-right: 0.5rem;
	}
	.form-wrapper > *:last-child {
		margin-left: 0.5rem;
	}

	form > input {
		width: 100%;
	}

	input:not(:last-child) {
		margin-bottom: 1rem;
	}

	input:focus {
		outline-color: var(--code-keyword);
		outline-width: 1px;
		outline-style: solid;
		outline-offset: 1px;
	}
</style>

<script>
	import store from '../store';

	export default {
		store: () => store,
		oncreate() {
			this.refs.inputSearch.focus();
		},
		methods: {
			navigateTo(event) {
				event.preventDefault();
				const input = this.refs.inputNavigateTo.value;
				const absUrl = /^http(s?)/.test(input)
				window.location.replace(absUrl ? input : `http://${input}`);
			}
		}
	};
</script>
