* {
	box-sizing: border-box;
}

@font-face{
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode-Regular.eot');
    src: url('/fonts/FiraCode-Regular.eot') format('embedded-opentype'),
         url('/fonts/FiraCode-Regular.woff2') format('woff2'),
		 url('/fonts/FiraCode-Regular.woff') format('woff'),
         url('/fonts/FiraCode-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode-Bold.eot');
    src: url('/fonts/FiraCode-Bold.eot') format('embedded-opentype'),
    	 url('/fonts/FiraCode-Bold.woff2') format('woff2'),
		 url('/fonts/FiraCode-Bold.woff') format('woff'),
         url('/fonts/FiraCode-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
	--monospace-prefered: 'Fira Code', monospace;
	--monospace: 'Fira Code', monospace;
	--default-text-color: '';
	--markdown-decoration-fade: 0.5;
	--alert-fade: 50%;
	--default-text-color: #444444;
	--default-text-color-faded: rgba(68, 68, 68, 0.5);
	--background-color: #FAFAFA;
	--dark-background-text: #BED5DD;
	--link-color: #1976D2;
	--error-color: #F44336;
	--success-color: #8BC34A;
	--inline-code-color: #fa516d;

	--code-background: #263238;
	--code-comment: #61737e;
	--code-selector: #FFD47E;
	--code-property: #8FD2CE;
	--code-value: #BED5DD;
	--code-text: #DEE3E9;
	--code-attribute: #98E3FF;
	--code-element: #FA516D;
	--code-string: #CAE69C;
	--code-keyword: #c792ea;
	--code-number: #f78556;
	--code-regex: #69a5ff;

	--grid-gap: 2rem;

}

body {
	font-family: var(--monospace);
	color: var(--default-text-color);
	background-color: var(--background-color);
	line-height: var(--line-height);

}
h2, .h2 {
	margin-top: calc(var(--line-height) * 2);
}

h3, .h3 {
	margin-top: var(--line-height);
}

p {
	margin-bottom: var(--line-height);
}

a {
	color: var(--link-color);
	text-decoration: none;
	outline: none;
}
a h1:before, a h2:before, a h3:before, a h4:before, a h5:before, a h6:before {
	content: initial;
	display: inline-block;
}

a {
	border-bottom: 1px solid transparent;
}

a:hover {
	border-bottom: 1px solid var(--link-color);	
}

blockquote {
	border-left: 0.1875em solid var(--default-text-color-faded);
	padding-left: calc(var(--char-width) + 0.1875em);
	transform: translateX(calc(var(--char-width) - (0.1875em * 2))); 
}

small {
	font-size: 0.75rem;
}

button, input {
	border: 1px solid var(--default-text-color-faded);
	background-color: transparent;
	padding: 0.15rem;
	font-family: var(--monospace-prefered);
	font-size: 0.75rem;
	line-height: 1;
}

input {
	font-size: 1rem;
}

button {
	cursor: pointer;
}

button:hover, button:active, button:focus {
	outline: none;
	background-color: var(--code-background);
	color: var(--code-text);
	border: 1px solid var(--code-background);
}

pre code {
	width: 100%;
	color: var(--background-color);
	background-color: var(--code-background);
	font-family: var(--monospace);
	display: block;
	border-radius: initial;
}
pre code:before, pre code:after {
	content: initial;
}

code {
	color: var(--inline-code-color);
}
code:before {
	content: '`';
	opacity: var(--markdown-decoration-fade);
}

code:after {
	content: '`';
	opacity: var(--markdown-decoration-fade);
}

.fonts-loaded code {
	font-family: var(--monospace-prefered);
}

h1 {
	font-weight: 700;
}

.headerlink:before, .headerlink:after {
	content: initial;
}

ol {
	counter-reset:li; /* Initiate a counter */
}
ol > li {
	position:relative; /* Create a positioning context */
}
ol > li:before {
	content:counter(li) + '. '; /* Use the counter as content */
	counter-increment:li; /* Increment the counter by 1 */
}

ul, ol {
	list-style: none;
	margin-bottom: var(--line-height);
}
